<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <targets>
        <target name="logfile"
				xsi:type="File"
				fileName="d:/logs/${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception} @${callsite:fileName=true:includeSourcePath=true}"/>
        <target name="console"
				xsi:type="ColoredConsole"
				layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception} @${callsite:fileName=true:includeSourcePath=true}"/>
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <!--Trace->Debug->Information->Warning->Error->Critical-->
        <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
        <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Info" writeTo="logfile,console" />
    </rules>
</nlog>
